@import "/styles/variables.scss";
@import "/styles/utils.scss";

.selectBox {
    display: flex;
    border: 1px solid $secondary-grey-border;
    border-radius: compute_ems(4, 12);
    outline: none;
    padding: compute_ems(8, 12);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: compute_ems(24, 12);
    cursor: pointer;
    gap: compute_ems(14.73, 12);
}
