@import "../../../styles/variables.scss";

.sidebarContainer {
    width: 250px;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary-color;
}

.logoContainer {
    border-bottom: 1px solid $primary-disabled-color;
    padding: 1.4em 0 0 1.5em;
}

.linkContainer {
    padding: 2em 0 2em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.channelLinks {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.channelLinkContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;

    p {
        color: $secondary-grey-text;
        font-size: 0.8em;
    }
}

.settingsContainer {
    padding: 2em 0 2em 1.5em;
    margin-bottom: 3em;
}

@media only screen and (max-width: 1024px) {
    .sidebarContainer {
        width: 100px;
    }

    .channelLinkContainer {
        p {
            text-align: center;
            margin: 2em 0;
        }
    }

    .linkContainer {
        padding: 0;
    }
    .settingsContainer {
        padding: 0;
    }
}

@media only screen and (max-width: 640px) {
    .sidebarContainer {
        z-index: 999;
        bottom: 0;
        height: 100px;
        width: 100vw;
        flex-direction: row;
        justify-content: normal;
    }

    .logoContainer {
        display: none;
    }

    .channelLinkContainer {
        flex-direction: row;
        gap: 0;
        width: 75%;

        p {
            display: none;
        }
    }

    .channelLinks {
        flex-direction: row;
        gap: 0;
        width: 100%;
    }

    .linkContainer {
        flex-direction: row;
        gap: 0;
        width: 80%;
    }

    .homeLinkContainer {
        display: flex;
        width: 25%;
    }

    .settingsContainer {
        display: flex;
        width: 20%;
        margin-bottom: 0;
    }
}
