@import "../../../styles/variables.scss";

.sidebarContainer {
    width: 250px;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary-color;
}

.logoContainer {
    border-bottom: 1px solid $primary-disabled-color;
    padding: 1.55em 0 0 1.5em;
}

.linkContainer {
    padding: 2em 0 2em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.settingsContainer {
    padding: 2em 0 2em 1.5em;
    margin-bottom: 3em;
}
