@import "/styles/variables.scss";

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
    background-color: var(--primary-color);

    & > div {
        cursor: pointer;
    }
}

.headerInfoContainer {
    position: relative;
}

.headerInfo {
    font-weight: 500;
}

.rightContainer {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}
.headerInfoUnderline {
    position: absolute;
    bottom: -10px;
    width: 120px;
    height: 12px;
    left: -20px;
}
.disabledButton {
    background-color: var(--primary-disabled-color);
    color: var(--primary-black);
    font-weight: 500;
    padding: 1.5em;
    border-radius: 0.8em;
    cursor: not-allowed;
    border: none;
}

.activeButton {
    background-color: var(--primary-black);
    color: var(--primary-white);
    font-weight: 500;
    padding: 1.5em;
    border-radius: 0.8em;
    cursor: not-allowed;
    border: none;
}

@media only screen and (max-width: 600px) {
    .headerContainer {
        padding: 1em 2em;
    }

    .headerLogoContainer {
        width: 5em;
    }

    .disabledButton {
        font-size: 0.8em;
    }

    .activeButton {
        font-size: 0.8em;
    }
}
