.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #b7becc;
    padding: 2em;
    border-radius: 10px;
    transition: background 300ms ease-in-out 0s;
}

.card_text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.25em;
    padding: 0;
    margin: 0 0 0.33em;
    text-align: center;
}

.card_img {
    width: 100%;
}

.img_wrapper {
    width: 50px;
    height: 70px;
    position: relative;
}

.card_status {
    background-color: #6fd791;
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25em;
    padding: 0.67em;
    border-radius: 8px;
    cursor: pointer;
}

.unavailable {
    background-color: #bc3131;
}

@media (min-width: 34.375em) {
    .card_text {
        font-size: 2rem;
    }

    .img_wrapper {
        width: 50px;
        height: 70px;
    }

    .card_status {
        font-size: 1rem;
    }
}

@media (min-width: 56.25em) {
    .card_text {
        font-size: 1.5rem;
    }

    .img_wrapper {
        width: 30px;
        height: 50px;
    }

    .card_status {
        font-size: 0.75rem;
    }
}
