@import "/styles/variables.scss";

.summaryContainer {
    margin: 2em 0;
    padding: 1.5em 1.5em 2em 1.5em;
    border: 1px solid $primary-disabled-color;
    border-radius: 0.8em;

    br {
        display: none;
    }
}

.chartContainer {
    display: grid;
    align-items: stretch;
    width: 100%;
    gap: 3em;
    grid-template-columns: auto auto auto;
}

.summaryHeader {
    margin-bottom: 1em;
    font-weight: 500;
}
