@import "/styles/variables.scss";

.getStartedContainer {
    display: flex;
    padding: 4em;
    align-items: center;
    justify-content: space-between;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.heading {
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.paragraph {
    font-size: 1em;
    line-height: 1.6em;
    color: var(--secondary-grey-text);
    font-weight: 300;
    margin-bottom: 1.5em;
}

@media only screen and (max-width: 1024px) {
    .getStartedContainer {
        flex-direction: column-reverse;
        gap: 3em;
    }

    .leftContainer {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .getStartedContainer {
        padding: 3em 2em;
    }
}
