@import "/styles/variables.scss";

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

.formContainer {
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    background-color: var(--primary-white);
    height: fit-content;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 2em 1em 2em;
}

.headerLogoContainer {
    width: 5em;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

@media only screen and (max-width: 600px) {
    .formContainer {
        max-width: 90%;
    }

    .modalHeader {
        margin: 1em 1em 1em 1em;
    }
    .form {
        padding: 2em 1em;
    }
}
