@import "/styles/variables.scss";

.summaryContainer {
    margin: 4em 0;
    // padding: 1.5em 1.5em 2em 1.5em;
    // border: 1px solid var(--primary-disabled-color);
    border-radius: 0.8em;

    br {
        display: none;
    }
}

.chartContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.summaryHeader {
    margin-bottom: 1em;
    font-weight: 500;
}

.selectInput {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;

    label {
        color: var(--primary-black);
        font-size: 0.9rem;
        margin-bottom: 0.6em;
    }
}

@media only screen and (max-width: 1024px) {
    // .chartContainer {
    //     overflow-y: scroll;
    // }
}
