@import "../../../styles/variables.scss";

.linkContainer {
    width: 100%;
    color: $secondary-disabled-color;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 13px;
}

.activeLink {
    color: $primary-black;
    font-weight: 600;

    border-right: 3px solid $primary-black;
}

@media only screen and (max-width: 1024px) {
    .linkContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 640px) {
    .linkContainer {
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }
    .activeLink {
        color: $primary-black;
        font-weight: 600;
        border-right: none;
        border-top: 3px solid $primary-black;
    }
}
