@import "/styles/variables.scss";

.headerContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 2em;
    border-bottom: 1px solid var(--primary-disabled-color);
    gap: 1em;
}

@media only screen and (max-width: 640px) {
    .headerContainer {
        padding: 1em 1em;
    }
}
