@import "/styles/variables.scss";

.summaryContainer {
    padding: 0 0 4em;
    // padding: 1.5em 1.5em 2em 1.5em;
    // border: 1px solid var(--primary-disabled-color);
    border-radius: 0.8em;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
}

.summaryHeader {
    margin-bottom: 1em;
    font-weight: 500;
}

@media only screen and (max-width: 1024px) {
}
