@import "/styles/variables.scss";

.chartContainer {
    border: 1px solid $primary-disabled-color;
    border-radius: 0.8em;
    width: 100%;
    padding: 1em;
}

.chartHeaderContainer {
    display: flex;
}

.chartTitle {
    font-size: 0.8em;
    font-weight: 700;
    margin: 1em 0;
}
