@import "/styles/variables.scss";
@import "/styles/utils.scss";

.selectInput {
    border: 1px solid $secondary-grey-border;
    border-radius: compute_ems(4, 12);
    outline: none;
    padding: compute_ems(8, 12);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: compute_ems(24, 12);
    width: 142px;
    color: var(--primary-black);

    @include appearance(none);
    background: var(--select-icon);
    background-repeat: no-repeat;
    background-size: 10.52px 6.25px;
    background-position: right;
    background-origin: content-box;

    option {
        background-color: var(--input-background-color);
    }
}
