@import "/styles/variables.scss";

.getStartedContainer {
    display: flex;
    padding: 1em;
    gap: 2em;
    border-radius: 1em;
    align-items: center;
    border: 1px solid $primary-disabled-color;
}

.getStartedTitle {
    font-size: 1em;
    font-weight: 400;
    color: #2b2b2b;
    margin: 0.5em 0;
}

.getStartedText {
    font-size: 0.8em;
    font-weight: 100;
    color: #808080;
}

@media only screen and (max-width: 600px) {
    .getStartedContainer {
        padding: 2em;
    }

    .getStartedTitle {
        font-size: 0.9em;
        line-height: 1.4em;
    }

    .getStartedText {
        font-size: 0.7em;
        line-height: 1.4em;
    }
}
