@import "/styles/variables.scss";

.infoContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 2em;
    border-bottom: 1px solid $primary-disabled-color;
}

.socialContainer {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

@media only screen and (max-width: 640px) {
    .infoContainer {
        padding: 1em 1em;
    }
}
