@import "/styles/variables.scss";

.chartContainer {
    border: 1px solid $primary-disabled-color;
    border-radius: 0.8em;
    min-width: 95%;
    width: 100%;
    padding: 1em;
}

.chartHeaderContainer {
    display: flex;
    justify-content: flex-end;
}

.chartTitle {
    font-size: 0.8em;
    color: $secondary-grey-text;
    text-decoration: underline;
    // margin: 1em;
}

@media only screen and (max-width: 1024px) {
    .chartContainer {
        min-width: 500px;
    }
}
