.skeletonWrapper {
    display: flex;
    gap: 1em;
    margin-bottom: 2rem;
    padding: 0 2em;
}

.error_text {
    text-align: center;
}

.loadMore {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
