.dashboardContainer {
    padding: 0 2em;
}

.dashboardHeader {
    margin: 2em 0;
}

.dashboardGreeting {
    font-size: 1.4em;
    font-weight: 400;
}

.dashboardNote {
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 1em;

    & a {
        color: #800080;
        font-weight: 500;
    }
}

.summaryBarChartContainer {
    display: flex;
    gap: 0.5em;
}

@media only screen and (max-width: 1024px) {
    .summaryBarChartContainer {
        flex-direction: column;
    }
}
