.dashboardContainer {
    padding: 0 2em;
}

.dashboardHeader {
    margin: 2em 0;
}

.dashboardGreeting {
    font-size: 1.4em;
    font-weight: 400;
}

.dashboardNote {
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 2em;

    & a {
        color: #800080;
        font-weight: 500;
    }
}

.summaryBarChartContainer {
    display: flex;
    gap: 0.5em;
}

.sentimentChartContainer {
    width: 100%;
    margin: 2em 0;
}

@media only screen and (max-width: 1024px) {
    .summaryBarChartContainer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 640px) {
    .dashboardContainer {
        padding: 0 1em;
    }

    .dashboardGreeting {
        font-size: 1em;
        font-weight: 700;
    }
    .dashboardNote {
        margin-top: 1.5em;
        font-size: 0.7em;
    }
}
