@import "/styles/variables.scss";

.main {
    background-color: $primary-color;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dashboardContainer {
    display: flex;
}

.dashboardSection {
    width: calc(100% - 250px);
    margin-left: 250px;
}
