$primary-color: #F2FBF6;
$secondary-disabled-color: #bbbcbb;
$primary-disabled-color: #EAEAEA;
$primary-black: #000000;
$primary-white: #FFFFFF;
$secondary-grey-text: #626772B2;
$primary-green: #6FD791;
$error-red: #FF0033;