$primary-color: #f2fbf6;
$secondary-disabled-color: #bbbcbb;
$primary-disabled-color: #eaeaea;
$primary-black: #000000;
$primary-white: #ffffff;
$secondary-grey-text: #626772b2;
$primary-green: #6fd791;
$error-red: #ff0033;
